.container{
    background-color: #f5f6fa;
}
.data {
    width: 50px; 
    position: relative;
    margin: 0 0 0 180px;
    display: inline-block;
}
ul{
    list-style: none;
}
.header{
    position: relative;
    width: 102%;
    height: 80px;
    background-color: blue;
    margin-top: 10px;
    right: 10px;
}
.sort-component{
    width: 800px;
    height: 80px;
    margin: 10px 0 0 250px;
    display: inline-block;
}  
h5{
    display: inline-block;
    margin: 20px;
    color:#3c6382;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
span{
    font-size: 25px;
    font-weight: 800;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .search{
    width: 35px;
    height: 35px;
    position:relative;
    color:#fff;
    left:85%;
    top:20px;
    font-size: 30px;
    cursor: pointer;
}
.cart{
    width: 15%;
    height: 50px;
    position:relative;
    color:#fff;
    left:90%;
    bottom: 15px;
    font-size: 30px;
    cursor: pointer;
} 
.star{
    width: 20px;
    height: 20px;
    position:absolute;
    color:#f6b93b;
    top: 12px;
    left:20px;
    font-size: 30px;
    cursor: pointer;
}
.footer{
    position: relative;
    width: 102%;
    height: 50px;
    background-color:#4a69bd;
    text-align: center;
    color: #fff;
    right:10px;
}
h4{
    position: relative;
    line-height: 20px;
    top:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.id{
    font-size: 18px;
}
.price{
    font-size: 20px;
    position: relative;
    font-weight: 700;
    bottom: 54px;
    left:70px;
}
.price-symbol{
    position: relative;
    left: 60px;
    bottom: 25px;
}

.discount{
    position: relative;
    font-size: 20px;
    color: #44bd32;
    bottom: 83px;
    left:120px;
}
.add-cart{
    position: relative;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFC312;
    text-align: center;
    line-height: 2.3rem;
    border-radius: 20px;
    left:20px;
    bottom: 45px;
}
.filter{
    position: absolute;
    margin: 100px 0 0 0;
}


/* Items Sale Details */

.search-check{
    position: relative;
    left: 70px;
}
#search-item{
    position: absolute;
    left: 75%;
    top:37%; 
    border: 2px solid; 
}
#search-item:hover{
    border: 2px solid rgb(255, 47, 134);  
}
.cont{
    height: 850px;
    background-color: #ecf0f1;
}
.check-data{
    width: 50%;
    height: 20%;
    background-color: #fff;
    margin-top:2%;
}
.check-item{
    position: relative;
    bottom: 120px;
    left:210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.check-price{
    position: relative;
    bottom: 110px;
    left:210px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.check-discount{
    position: relative;
    bottom: 133px;
    left:260px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #009432;
    font-weight: 800;
}
.howmany-items{
    position: relative;
    bottom:97%;
    left: 62%;
}
.decrease{
    font-size: 25px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 1.5rem;
    border: 1px solid;
    border-radius:50%;
    margin-top:10px;
    cursor: pointer;
}
.count{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 1.7rem;
    border: 1px solid;
    left: 35px;
    bottom: 28px;
}
.increament{
    position: relative;
    font-size: 25px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 1.3rem;
    border: 1px solid;
    border-radius:50%;
    bottom: 54px;
    left: 70px;
    cursor: pointer;
}
.remove{
    position: relative;
    bottom:245px;
    left:460px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.price-detalis-main{
    width: 300px;
    height: 240px;
    background-color: #fff;
    position: absolute;
    top:14.5%;
    left:60%;
    border: 1px solid;
}
.price-detalis{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    opacity: 0.5;
}
.item-sale{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
.sale-price{
    font-size: 17px;
    font-weight: 100;
    margin-left: 60px;
}
.item-discounts{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
.sale-discounts{
    font-size: 17px;
    font-weight: 100;
    margin-left: 100px;
}
.total{
    font-size: 17px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
.total-pay{
    font-size: 17px;
    font-weight: 800;
    margin-left: 59px;
}

